In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt'
df = pd.read_csv(url)

In [4]:
print(df.head(5))

   Unnamed: 0      Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  \
0           1  1177.698      2           7        2            2         2
1           2  2134.800      5           7        4            2         2
2           3  1138.560      5           7        2            2         1
3           4  1458.780      2           7        3            2         2
4           5   967.776     11          14        3            2         2

   Price
0  62000
1  78000
2  58000
3  45000
4  45000

In [5]:
df.describe()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
count,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000
mean,325.159690,1527.656260,5.939535,10.855814,2.837209,1.813953,1.810853,61986.823256
std,187.312152,767.386531,3.884721,4.996208,1.010740,0.462364,0.683574,35635.091007
min,1.000000,359.358000,1.000000,1.000000,1.000000,0.000000,0.000000,6100.000000
25%,164.000000,925.080000,3.000000,7.000000,2.000000,2.000000,1.000000,39000.000000
50%,326.000000,1423.200000,5.000000,12.000000,3.000000,2.000000,2.000000,50000.000000
75%,487.000000,1892.856000,8.000000,14.000000,4.000000,2.000000,2.000000,75000.000000
max,648.000000,5856.468000,22.000000,38.000000,7.000000,4.000000,5.000000,250000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   645 non-null    int64
 1   Sqft         645 non-null    float64
 2   Floor        645 non-null    int64
 3   TotalFloor   645 non-null    int64
 4   Bedroom      645 non-null    int64
 5   Living.Room  645 non-null    int64
 6   Bathroom     645 non-null    int64
 7   Price        645 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 40.4 KB

In [12]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.pairplot(df['Floor'])
plt.suptitle("Pair plot of numrical variables ")
plt.show()
plt.figure(figsize=(8,6))
sns.countplot(data=df,x ='furnishingstatus')
plt.title('distribution of furshing status')
plt.xlabel('furshing status')
plt.ylabel('count')
plt.show()

TypeError: 'data' must be pandas DataFrame object, not: <class 'pandas.core.series.Series'>

In [13]:
from sklearn.model_selection import train_test_split
X = df.drop['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Shape of training and testing sets:")
print("X_train :",X_train.shape)
print("X_test :",X_test.shape)
print("y_train:",y_train.shape)
print("y_test:",y_test.shape)

TypeError: 'method' object is not subscriptable